{% style %}
.section-{{ section.id }}-padding {
  padding-top: {{ section.settings.mobile_padding_top }}px;
  padding-bottom: {{ section.settings.mobile_padding_bottom }}px;
}

@media screen and (min-width: 1200px) {
  .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
  }
}
{% endstyle %}

<div class="section-{{ section.id }}-padding">
    <div class="page-width">
        <div class="after-before-row">
          <div class="after-before-left">
            
          </div>
          <div class="after-before-right">
              <div class="cms-text-block">
                {%for block in section.blocks %}
                  {% if block.type == "heading" %}
                    <{{ block.settings.heading_size }} class="{{ block.settings.heading_size }}">
                      {{ block.settings.heading }}
                    </{{ block.settings.heading_size }}>
                  {% endif %}
                  {% if block.type == "text" %}
                    <div class="cms-text-desc">
                      {{ block.settings.text }}
                    </div>
                  {% endif %}
                  {% if block.type == "button" %}
                    <div class="cms-buttons-row">
                      <div class="cms-buttons-cell">
                        <a href="{{ block.settings.button_link }}" aria-label="{{ block.settings.button_label }}">
                          <span>
                            {{ block.settings.button_label }}
                          </span>
                        </a>
                      </div>
                    </div>
                  {% endif %}
                {% endfor %}
              </div>
          </div>
        </div>
    </div>
</div>

{% schema %}
{
  "name": "After Before comparison",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "image_picker",
      "id": "after_image",
      "label": "After Image"
    },
    {
      "type": "image_picker",
      "id": "before_image",
      "label": "Before Image"
    },
    {
      "type": "header",
      "content": "Padding"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Padding Top",
      "default": 80
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Padding Bottom",
      "default": 80
    },
    {
      "type": "range",
      "id": "mobile_padding_top",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Mobile Top",
      "default": 40
    },
    {
      "type": "range",
      "id": "mobile_padding_bottom",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Mobile Bottom",
      "default": 40
    }
  ],
  "blocks": [
    {
      "type": "heading",
      "name": "Heading",
      "limit": 1,
      "settings": [
        {
          "type": "inline_richtext",
          "id": "heading",
          "default": "Heading",
          "label": "Heading"
        },
        {
          "type": "select",
          "id": "heading_size",
          "options": [
            {
              "value": "h2",
              "label": "Small"
            },
            {
              "value": "h1",
              "label": "Medium"
            },
            {
              "value": "h0",
              "label": "Large"
            },
            {
              "value": "hxl",
              "label": "Extra Large"
            },
            {
              "value": "hxxl",
              "label": "Extra Extra Large"
            }
          ],
          "default": "h1",
          "label": "Medium"
        }
      ]
    },
    {
      "type": "text",
      "name": "Text",
      "limit": 1,
      "settings": [
        {
          "type": "richtext",
          "id": "text",
          "default": "Description",
          "label": "Description"
        }
      ]
    },
    {
      "type": "button",
      "name": "Button",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "button_label",
          "default": "Label",
          "label": "Learn More",
          "info": "Leave blank to hide"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "Link"
        },
        {
          "type": "checkbox",
          "id": "button_style_secondary",
          "default": false,
          "label": "Outline Style"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "After Before comparison",
      "blocks": [
        {
          "type": "heading"
        },
        {
          "type": "text"
        },
        {
          "type": "button"
        }
      ]
    }
  ]
}
{% endschema %}