{% style %}
.section-{{ section.id }}-padding {
  padding-top: {{ section.settings.mobile_padding_top }}px;
  padding-bottom: {{ section.settings.mobile_padding_bottom }}px;
}

@media screen and (min-width: 1200px) {
  .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
  }
}
{% endstyle %}

<div class="section-{{ section.id }}-padding">
    <div class="page-width">
        
    </div>
</div>

{% schema %}
{
  "name": "Image With Text",
  "tag": "section",
  "settings": [
    {
        "type": "image_picker",
        "id": "image",
        "label": "Set Image"
    },
    {
      "type": "header",
      "content": "Padding"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Top",
      "default": 80
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Bottom",
      "default": 80
    },
    {
      "type": "range",
      "id": "mobile_padding_top",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Mobile Top",
      "default": 40
    },
    {
      "type": "range",
      "id": "mobile_padding_bottom",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Mobile Bottom",
      "default": 40
    }
  ],
  "blocks": [
    {
      "type": "text",
      "name": "Add Block",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Set Title"
        },
        {
          "type": "richtext",
          "id": "description",
          "label": "Set Description"
        },
        {
          "type": "url",
          "id": "btn-url",
          "label": "Set Button Url"
        },
        {
          "type": "text",
          "id": "btn-text",
          "label": "Set Button Text"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Image With Text"
    }
  ]
}
{% endschema %}
